.project-card {
  display: flex;
  background-color: var(--color-card-background);
  border-radius: 24px;
  align-items: center;
  flex-direction: column-reverse;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    padding-left: 40px;
    gap: 35px;
    flex-direction: row;
  }

  @media screen and (min-width: $bp-desktop) {
    padding-left: 55px;
    gap: 62px;
  }

  &__description {
    width: 100%;
    gap: 8px;
    padding: 35px;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
      padding: 0;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 8px;

  }

  &__text {
    font-weight: 500;
    //font-size: 18px;
  }

  &__img {
    height: 320px;
    width: 100%;

    @media screen and (min-width: $bp-tablet) {
      width: 50%;
    }
  }

  &__link {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 18px;
  }
}
