.testimonial-card {
  text-align: center;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 10px;

  &__testimonial {
    font-weight: 500;
  }
}
