@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../../public/fonts/work-sans-v19-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/work-sans-v19-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/work-sans-v19-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  src: url('../../public/fonts/work-sans-v19-latin-900.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/eczar-v22-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 600;
  src: url('../../public/fonts/eczar-v22-latin-600.woff2') format('woff2');
}
