:root {
  --color-background-body: #fff6ec;
  --color-background-primary: #ffeed9;
  --color-background-secondary:  rgba(255, 221, 191, 0.5);
  --color-text: #403930;
  --color-text-link: #594f43;
  --color-link-hover: #726556;
  --color-blue-border-text: #4d5566;
  --color-blue: #4e5e80;
  --color-blue-hover: #57678a;
  --white: #f3f2ff;
  --color-container: #ffddbf;
  --color-card-background:  #fff8f2;
  --color-fill: #594f43;
  --color-fill-hover: #64574c;

  --social-linkedin: #0073B2;
  --social-telegram: #0774a8;
  --social-github: #333;

  --font-family: "Work Sans", sans-serif;
  --second-family: "Eczar", sans-serif;
  --third-family: "Patrick Hand", sans-serif;
  --font3: "Coiny", sans-serif;
}

$bp-mobile: 600px;
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large-desktop: 1280px;
