:root {
  --color-background-body: #fff6ec;
  --color-background-primary: #ffeed9;
  --color-background-secondary:  rgba(255, 221, 191, 0.5);
  --color-text: #403930;
  --color-text-link: #594f43;
  --color-link-hover: #726556;
  --color-blue-border-text: #4d5566;
  --color-blue: #4e5e80;
  --white: #f3f2ff;
  --color-container: #ffddbf;
  --color-card-background:  #fff8f2;
  --color-fill: #594f43;
  --color-fill-hover: #64574c;

  --font-family: "Work Sans", sans-serif;
  --second-family: "Eczar", sans-serif;
  --third-family: "Patrick Hand", sans-serif;
  --font3: "Coiny", sans-serif;
}
