.about-section {
  position: relative;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    padding-bottom: 30px;

    @media screen and (min-width: $bp-mobile) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $bp-tablet) {
      width: 75%;
    }

    @media screen and (min-width: $bp-desktop) {
      padding: 10px 22px;
      gap: 22px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 4px !important;
  }

  &__text {
    font-weight: 500;
    line-height: 1.6;

    @media screen and (min-width: $bp-mobile) {
      width: 50%;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 60%;
    }
  }

  &__button {
    align-self: flex-start;
    width: 40%;

    @media screen and (min-width: $bp-mobile) {
      width: 244px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 151px;
    height: 157px;
    background-image: url("../public/images/img-about.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: $bp-mobile) {
      width: 300px;
      height: 364px;
    }

    @media screen and (min-width: $bp-tablet) {
      width: 372px;
      height: 456px;
      right: 24px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 460px;
      height: 494px;
    }
  }
}
