.footer {
  display: flex;
  padding: 95px 95px;
  gap: 70px;
  background-color: var(--color-background-secondary);

  &__title {
    font-size: 50px;
    line-height: 1.3;
    font-family: var(--second-family);
  }

  &__socials {
    //display: flex;
    align-items: end;
    gap: 18px;
  }
}
