.hero-section {
  display: flex;
  position: relative;
  padding: 0 25px;

  @media screen and (min-width: $bp-mobile) {
    padding: 0 50px;
  }

  @media screen and (min-width: $bp-desktop) {
    padding: 35px 90px 56px 96px;
  }

  &__preview {
    display: flex;
    padding-bottom: 38px;
    flex-direction: column;
    width: 80%;
    gap: 30px;

    @media screen and (min-width: $bp-mobile) {
      width: 50%;
    }

    @media screen and (min-width: $bp-desktop) {
      padding-bottom: 58px;
    }

    @media screen and (min-width: $bp-tablet) {
      padding-top: 18px;
    }
  }

  &__texts {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &__hello {
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    width: 142px;
    height: 50px;
    background-color: var(--color-container);
  }

  &__position {
    font-family: var(--second-family);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 0;

    @media screen and (min-width: $bp-tablet) {
      font-size: 46px;
    }

    @media screen and (min-width: $bp-desktop) {
      font-size: 56px;
    }
  }

  &__buttons {
    display: flex;
    gap: 10px;
    flex-direction: column;

    @media screen and (min-width: $bp-desktop) {
      flex-direction: row;
    }
  }

  &__button {
    background-color: var(--color-blue);
    border: none;
    display: flex;
    align-items: center;
    gap: 8px;

    &--link {
      color: var(--white);
      text-decoration: none;
    }
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 198px;
    height: 224px;
    background-image: url("../public/images/img-hero1.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: $bp-mobile) {
      display: block;
      top: 58px;
      right: 10px;
      bottom: 0;
      width: 300px;
      height: 398px;
    }

    @media screen and (min-width: $bp-tablet) {
      width: 428px;
      height: 456px;
      top: 0;
      right: 24px;
    }

    @media screen and (min-width: $bp-desktop) {
      width: 450px;
      height: 534px;
    }
  }
}
