.work-section {
  background-color: var(--color-background-secondary);
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-wrap: wrap;
  }
}
