*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  margin: 0;
  background-color: var(--color-background-body);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  display: inline-block;
}
